* {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
}
body {
  padding-top: 10px;
}

body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: black;
    color: #2F4F4F;
}

input.search {
  max-width: 300px;
  margin-right: 15px;
}
input {
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
}

.container{
  background-color: #f8f8f8;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.menu {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

th {
  cursor: pointer;
  padding: 5px;
  text-align: center;


}
tr {
  height: 30px;

}
td {
  padding: 10px;
  text-align: center;

}

button.link {
   background:none;
   border:none;
 }
#phone {
  margin-top: 100px;
}
